.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff159;
    height: 90rem;
}

img[alt=logo] {
    width: 60rem;
    height: auto;
    margin: 0 15rem 0 0;
}

input[type=search] {
    width: 100%;
    max-width: 600rem;
    padding: 12rem 6rem;
    margin: 0 15rem 0 0;
}
